In [2]:
# Ques1
import pandas as pd
import numpy as np

np.random.seed(10)
df = pd.DataFrame(np.random.randn(4, 4), columns=['A', 'B', 'C', 'D'])
print(df)

          A         B         C         D
0  1.331587  0.715279 -1.545400 -0.008384
1  0.621336 -0.720086  0.265512  0.108549
2  0.004291 -0.174600  0.433026  1.203037
3 -0.965066  1.028274  0.228630  0.445138

In [3]:
# Ques2
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 4), columns=['A', 'B', 'C', 'D'])

df = df.rename(columns={'A': 'Random value 1',
                         'B': 'Random value 2',
                         'C': 'Random value 3',
                         'D': 'Random value 4'})

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0       -1.136602        0.135137        1.484537       -1.079805
1       -1.977728       -1.743372        0.266070        2.384967
2        1.123691        1.672622        0.099149        1.397996
3       -0.271248        0.613204       -0.267317       -0.549309

In [4]:
# Ques3
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 4), columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])

df_stats = df.describe()

print(df_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.097140       -0.344336        0.321593       -0.178531
std          0.638568        0.107686        1.136469        0.510953
min         -0.804591       -0.476142       -0.939433       -0.731970
25%         -0.101617       -0.382189       -0.489214       -0.549995
50%          0.266459       -0.344252        0.458666       -0.147162
75%          0.465215       -0.306399        1.269472        0.224302
max          0.660232       -0.212698        1.308473        0.312170

In [5]:
# Ques4
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 4), columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])

df_isnull = df.isnull()

print(df_isnull)

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [6]:
# Ques5
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 4), columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])

df[['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0       -0.529296        1.046183
1       -0.121906        0.319356
2        0.989072        0.314754
3        0.620601       -1.045133